<div class="advertising" (click)="clickAdvertising()" *ngIf="advertising">
  <div class="text-container">
    <p>Accede a espacios de trabajo cerca de ti con un descuento del 25 % en la cuota de membresía mensual de WeWork All Access Plus durante 5 meses. Se aplican términos y condiciones. <span><a href="https://www.wework.com/es-LA/solutions/wework-all-access">Obtén más información</a></span></p>
    <img src="./assets/img/close.png" (click)="hideAdvertising()" alt="close img">
  </div>
</div>

<div class="header">
  <img class="menu-icon" src="./assets/img/menu.png" alt="menu-responsive icon">
  <img src="./assets/img/wework-logo.png" alt="wework logo">
  <ul class="menu">
    <a href="">Encuentra un ubicación</a>
    <a href="">Soluciones</a>
    <a href="">Grandes empresas</a>
  </ul>
  <div class="inner-menu">
    <button>Contacto</button>
    <a href="https://members.wework.com/">Inicio de sesión de miembros</a>
  </div>
</div>
